.block__popover.block__popover--move.block__popover--open {
    border: 5px solid var(--room-border-color);
}

.protyle-hint, .b3-menu {
    border: var(--room-pink-menu-border);
}

.protyle-toolbar {
    border: solid 3px var( --room-border-color);
}

.protyle-util {
    border: var(--room-pink-menu-border);
    box-shadow: 0 0 1px 1px #bb8ca6, 0 0 0.7rem 0.1em #8e8e8e8c, inset 0 0 0em 0.1em #ffffff;
}