/* ----引入root元素，勿动---- */
@import url("config/root.css");
@import url("style/关系图所用颜色.css");
@import url("style/修改菜单阴影");


/* ----作者自用特色功能，可开关 ---- */
/* @import url("style/另外一种默认字体.css"); */
/* @import url("style/卷轴页面.css"); */
/* @import url("style/背景图片.css "); */
/* @import url("style/4类主要自定义字色.css"); */
@import url("style/复习用填空&黑条样式.css");
@import url("style/超级块边框.css");
/* @import url("style/底层超级块边框.css"); */


/* ----通用样式---- */
@import url("style/Breadcrumb&TabBar.css");

@import url("style/TextColorMenu.css");
@import url("style/ListTree.css");

@import url("style/CodeBlock.css");

@import url("style/keyboard.css");
@import url("style/InlineCode.css");

@import url("style/BlockRef.css");
@import url("style/SuperLink.css");

@import url("杂乱的修改.css");

@import url("style/反链面板.css");
@import url("自定义属性/图片边框.css");


@import url("style/关系图.css");
/* ---多种色系配色界面暂时性解决方案，可开关切换--- */
/* @import url("config/绿色系界面.css"); */
/* @import url("config/蓝色系界面.css"); */

