:root {

    /* 给面板菜单使用的边框 */
    --pinkroom-pink-menu-border: 4px solid pink;
    --pinkroom-blue-menu-border: 4px solid #74cbdf;
    --pinkroom-green-menu-border: 4px solid #d4eaba;

    --pinkroom-tag-boxshadow-color: #9a6e84;

    /* 虚拟引用标记颜色 */
    --pinkroom-virtual-rel-background-color:#ffbdd163;

    /* 块引伪类边框颜色 */
    --b3-block-ref-pseudo-color:#824a79a2;




    /* 表格标题行的底色 */
    --pinkroom-table-head-background-color:#f0dada;
    /* 表格单数行底色 */
    --pinkroom-table-2n-1-background-color:hsl(34deg 98% 99%);
    /* 表格双数行底色 */
    --pinkroom-table-2n-background-color:hsl(33deg 88% 98%);
    /* 表格边框颜色 */
    --pinkroom-table-border-color:#ab888d4a;

}

