:root{










    /* 给面板菜单使用的边框 */
    --pinkroom-pink-menu-border:4px solid pink;
    --pinkroom-blue-menu-border:4px solid #74cbdf;
    --pinkroom-green-menu-border:4px solid #d4eaba;


}