
/* ——————————————————文字发光/荧光字———————————————— */

/* 为所有字色设置相同的字体、字重、透明度 */
[style*="color: var(--b3-font-color"] {
    /* font-family:var(--b3-font-family-strong); */
    font-weight: 500;
    font-size: 1em;
    opacity: 90% !important;
    vertical-align:inherit;
    padding: 0px 2px 0px 2px;
}


/* 红色系 字色 重要等级低 */
[style*="var(--b3-font-color1);"] {
    color:#e26681 !important;
    text-shadow:none;
}

/* 红色系 字色 重要等级中 */
[style*="var(--b3-font-color2);"] {
    color: #e63965 !important;
    /* text-shadow:    0px 0px 2px hsl(345, 88%, 46%, 0.8),
                    0px 0px 3px hsla(342, 88%, 53%, 0.8); */
}

/* 红色系 字色 重要等级高 */
[style*="var(--b3-font-color3);"] {
    color:#dd0e42 !important;
    /* text-shadow:    0px 0px 2px hsl(345, 88%, 46%),
                    0px 0px 3px hsl(342, 88%, 53%),
                    1px 1px 4px hsla(0, 100%, 73%, 0.829); */
}


/* 绿色系 字色 重要等级低 */
[style*="var(--b3-font-color4);"] {
    color:#8ec181 !important;
    text-shadow:none;
}

/* 绿色系 字色 重要等级中 */
[style*="var(--b3-font-color5);"] {
    /* opacity: 88%; */
    color:#5d9c35!important;
}

/* 绿色系 字色 重要等级高 */
[style*="var(--b3-font-color6);"] {
    color:#007a16 !important;
    /* text-shadow:    0px 0px 0.1em hsl(91, 100%, 33%),
                    0px 0px 0.2em hsla(88, 96%, 37%, 0.8),
                    0px 0px 0.3em hsla(88, 100%, 39%, 0.3); */
}

[style*="var(--b3-font-color7);"] {
    color:#68aeca !important;
    text-shadow:none;
}

[style*="var(--b3-font-color8);"] {
    opacity: 88%;
    color:#2c98ce !important;
    /* text-shadow:    0px 0px 2px hsla(200, 90%, 34%, 1),
                    0px 0px 3px hsla(206, 88%, 53%, 1); */
}

/* 蓝色系 字色 重要程度高  */
[style*="var(--b3-font-color9);"] {
    color:#006ec2 !important;
    /* text-shadow:    0px 0px 1px hsl(206, 100%, 38%),
                    0px 0px 2px hsl(206, 100%, 38%),
                    0px 0px 4px hsl(206, 100%, 50%),
                    0px 0px 6px hsla(206, 100%, 65%, 0.85); */
}

/* 黄色系 字色 重要等级低 */
[style*="var(--b3-font-color10);"] {
    color:#a379dc !important;
}

/* 黄色系 字色 重要等级中 */
[style*="var(--b3-font-color11);"] {
    /* opacity: 88%; */
    color:#7c51b8 !important;
    /* text-shadow:    0px 0px 2px rgb(86, 0, 208),
                    0px 0px 3px hsla(265, 100%, 50%, 0.6); */
}


/* 黄色系 字色 重要等级高 */
[style*="var(--b3-font-color12);"] {
    color:#703cd7 !important;
    /* text-shadow:    0px 0px 0.1em hsl(260, 100%, 39%),
                    0px 0px 0.2em hsla(265, 100%, 69%, 0.95),
                    0px 0px 0.3em hsla(265, 100%, 79%, 0.7); */
}


/* 修改字色菜单中的图标颜色 */
.color__square[style*="color:var(--b3-font-color"]{
    color: transparent !important;
}

.color__square[style="color:var(--b3-font-color1)"]{
    background-color:#e26681 !important;
}

.color__square[style="color:var(--b3-font-color2)"]{
    background-color:#e63965 !important;
}

.color__square[style="color:var(--b3-font-color3)"]{
    background-color:#dd0e42 !important;
}

.color__square[style="color:var(--b3-font-color4)"]{
    background-color:#8ec181 !important;
}

.color__square[style="color:var(--b3-font-color5)"]{
    background-color:#5d9c35 !important;
}

.color__square[style="color:var(--b3-font-color6)"]{
    background-color:#007a16 !important;
}

.color__square[style="color:var(--b3-font-color7)"]{
    background-color:#68aeca !important;
}

.color__square[style="color:var(--b3-font-color8)"]{
    background-color:#2c98ce !important;
}

.color__square[style="color:var(--b3-font-color9)"]{
    background-color:#006ec2 !important;
}

.color__square[style="color:var(--b3-font-color10)"]{
    background-color:#a379dc !important;
}

.color__square[style="color:var(--b3-font-color11)"]{
    background-color:#7c51b8 !important;
}
.color__square[style="color:var(--b3-font-color12)"]{
    background-color:#703cd7 !important;
}






/*** ———————————————修改设置了底色/背景色的文字部分的样式————————————————— ***/

/* 为不同底色/背景色区域设置一部分相同的样式 */
[style*="var(--b3-font-background1);"] {
    background-color: hsl(358deg 76% 84%) !important;
    color: hsl(0deg 23% 42%) !important;
    /* opacity: 80%; */
}

[style*="var(--b3-font-background2);"] {
    background-color: #ff8d8d !important;
    color: #882c37 !important;
    /* opacity: 90%; */
}

[style*="var(--b3-font-background3);"] {
    background-color: hsl(0deg 100% 71%) !important;
    color: #500012 !important;
}

[style*="var(--b3-font-background4);"] {
    background-color: #b5cf94 !important;
    color: #596d41 !important;
    opacity: 80%;
}

[style*="var(--b3-font-background5);"] {
    background-color: hsl(86deg 64% 70%) !important;
    color: #40641f !important;
    opacity: 90%;
}

[style*="var(--b3-font-background6);"] {
    background-color: #b8f15b !important;
    color: #036323 !important;
}

[style*="var(--b3-font-background7);"] {
    color: #41667b !important;
    background-color: rgb(137 196 218) !important;
    /* opacity: 80%; */
}

[style*="var(--b3-font-background8);"] {
    color: #1f5a6c!important;
    background-color: rgb(123 214 237) !important;
    /* opacity: 90%; */
}

[style*="var(--b3-font-background9);"] {
    color: rgb(25 82 141)!important;
    background-color: rgb(110 233 255) !important;
}

[style*="var(--b3-font-background10);"] {
    background-color: hsl(277deg 55% 87%) !important;
    color: hsl(281deg 22% 49%) !important;
    /* opacity: 80%; */
}

[style*="var(--b3-font-background11);"] {
    background-color: hsl(277deg 100% 85%) !important;
    color: hsl(281deg 44% 32%) !important;
}

[style*="var(--b3-font-background12);"] {
    background-color: rgb(207 110 255) !important;
    color: hsl(282deg 90% 15%) !important;
}




/* 修改字色菜单中底色的图标颜色 */

.color__square[style*="background-color:var(--b3-font-background1)"]{
    background-color:#e26681 !important;
}

.color__square[style*="background-color:var(--b3-font-background2)"]{
    background-color:#e63965 !important;
}

.color__square[style*="background-color:var(--b3-font-background3)"]{
    background-color:#dd0e42 !important;
}

.color__square[style*="background-color:var(--b3-font-background4)"]{
    background-color:#8ec181 !important;
}

.color__square[style*="background-color:var(--b3-font-background5)"]{
    background-color:#5d9c35 !important;
}

.color__square[style*="background-color:var(--b3-font-background6)"]{
    background-color:#007a16 !important;
}

.color__square[style*="background-color:var(--b3-font-background7)"]{
    background-color:#68aeca !important;
}

.color__square[style*="background-color:var(--b3-font-background8)"]{
    background-color:#2c98ce !important;
}

.color__square[style*="background-color:var(--b3-font-background9)"]{
    background-color:#006ec2 !important;
}

.color__square[style*="background-color:var(--b3-font-background10)"]{
    background-color:#a379dc !important;
}

.color__square[style*="background-color:var(--b3-font-background11)"]{
    background-color:#7c51b8 !important;
}
.color__square[style*="background-color:var(--b3-font-background12)"]{
    background-color:#703cd7 !important;
}