/* 设置块引用样式 */

/* 修改的样式 */
.protyle-wysiwyg [data-node-id] span[data-type~=block-ref], .protyle-wysiwyg [data-node-id] span[data-type~=file-annotation-ref]{
    border-bottom: 1px solid var(--b3-protyle-inline-blockref-color);
    margin: 0px 2px 0px;
}

/* 增加块引后部的标示符号 */
.protyle-wysiwyg [data-node-id] span[data-type="block-ref"]::after {
    content: "↓";
    font-style: bold;
    position: relative;
    font-size: 80%;
    /* top: -0.05em; */
    /* left: -0.2em; */
    margin-left: 1px;
}

