/* 行内代码块 */
.fn__code, .b3-typography code:not(.hljs), .b3-typography span[data-type~=code], .protyle-wysiwyg code:not(.hljs), .protyle-wysiwyg span[data-type~=code] {
    margin: 0px 0.1rem 0px 0.3rem;
    color: rgb(98 41 0 / 78%);
    background-color: rgb(252 247 226);
    font-size: 0.9em;
    /* line-height: 100%; */
    border-radius: 5px;
    font-family: var(--b3-font-family-code);
    vertical-align:1px;
    padding: 0.1rem 0.3rem 0.1rem 0.3rem;
    /* box-shadow: 0px 0px 6px 1px #ffecdcc4 inset, 0px 0px 1px 1px #9f7959 inset; */
    border: solid 1px;
}