/* kbd 按键/按钮的样式 */
.b3-typography kbd, .b3-typography span[data-type~=kbd], .protyle-wysiwyg kbd, .protyle-wysiwyg span[data-type~=kbd]{
    font-size: 0.9em;
    font-family: var(--b3-font-family-button);
    margin: 0.1rem 0.1rem 0.2rem 0.1rem;
    border-radius: 4px;
    color: rgb(0 94 118);
    background-color: hsl(185deg 64% 85%);
    /* padding: 3px 5px 3px 5px; */
    vertical-align:2px;
    box-shadow: 1px 1px 1px 0px #825d78a6,0px 0px 1px inset grey;
    border: 1px solid;
}

/* 第二种按键样式 */
/* .b3-typography kbd, .protyle-wysiwyg kbd {
box-shadow: 0px 1px 2px 0px #a77d8b99, 0px -1px 0px 1px inset #86c8d0, 1px 2px 1px 0px #fff inset;
border: 1px solid #155f61;
} */

/* 第三种按键样式 */
.b3-typography kbd, .b3-typography span[data-type~=kbd], .protyle-wysiwyg kbd, .protyle-wysiwyg span[data-type~=kbd]{
    border-radius: 3px;
    color: rgb(67 11 16);
    background-color: rgb(255 255 255);
    vertical-align: 2px;
    box-shadow: rgb(131 131 131 / 90%) 0px 1px 2px -1px, #d9d9d9 0px -1px 0px 1px inset;
    border: 1px solid;
}