/* 修改超链接的样式 */
.protyle-wysiwyg [data-node-id] span[data-type~=a]{
    border-bottom: 1px solid var(--b3-protyle-inline-link-color);
    margin: 0px 2px 0px;
}

/* 修改鼠标悬浮在超链接上的样式 */
.protyle-wysiwyg [data-node-id] span[data-type~=a]::after {
    content: "↑";
    position: relative;
    font-size: 80%;
    top: -0.1em;
    margin-left: 2px;
}