.h1 div[spellcheck="false"]::before {
    content: " ";
    position: absolute;
    display: inline-block;
    background-color: #87cefaa8;
    /* margin-left: 10px; */
    width: 10px;
    left: -24px;
}

.b3-typography .h1, .b3-typography h1, .protyle-wysiwyg .h1, .protyle-wysiwyg h1 {
    /* padding: 0px !important; */
}

.h1,.h2,.h3,.h4,.h5,.h6{
    margin-top: 1em !important;
}


.h2 div[spellcheck="false"]::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: -moz-available; 
    width: -webkit-fill-available;
    width: fill-available;
    height: 1.5px;
    top: 50%;
    /* background-color: var(--pinkroom-tag-boxshadow-color); */
    background: linear-gradient(90deg,  var(--pinkroom-tag-boxshadow-color) 0%,  var(--pinkroom-tag-boxshadow-color) 45%,  var(--pinkroom-tag-boxshadow-color) 100%);
    margin-left: 4px;
}




.h3 div[spellcheck="false"]::before {
    content: "";
    position: relative;
    display: inline-block;
    width: 5px;
    height: 1px;
    top: -0.3em;
    opacity: 90%;
    background-color: var(--pinkroom-tag-boxshadow-color);
    margin-right: 1px;
}


.h3 div[spellcheck="false"]::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: -webkit-fill-available;
    height: 1px;
    top: 50%;
    opacity: 90%;
    background-color: var(--pinkroom-tag-boxshadow-color);
    margin-left: 4px;
}


.h4 div[spellcheck="false"]::before {
    content: "";
    position: relative;
    display: inline-block;
    width: 6px;
    height: 1px;
    top: -0.3em;
    background-color: var(--pinkroom-tag-boxshadow-color);
    margin-right: 2px;
    opacity: 90%;
}


.h4 div[spellcheck="false"]::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: -webkit-fill-available;
    height: 1.05em;
    top: 50%;
    opacity: 90%;
    background-image: linear-gradient(to right, var(--pinkroom-tag-boxshadow-color) 0%, var(--pinkroom-tag-boxshadow-color) 50%, transparent 50%);
    background-size: 10px 1px;
    background-repeat: repeat-x;
    margin-left: 4px;
}



.h5 div[spellcheck="false"]::before {
    content: "";
    position: relative;
    display: inline-block;
    width:6px;
    height: 1px;
    top: -0.3em;
    background-color: var(--pinkroom-tag-boxshadow-color);
    margin-right: 2px;
    opacity: 90%;
}


.h6 div[spellcheck="false"]::before {
    content: "";
    position: relative;
    display: inline-block;
    width: 6px;
    height: 1px;
    top: -0.3em;
    background-color: var(--pinkroom-tag-boxshadow-color);
    margin-right: 2px;
    opacity: 90%;
}
