/* --------------------让页面编辑区域变成固定宽度且固定在页面中部，以呈现一种竖卷轴式的编辑区  特色性功能-------------------- */
:root{
        /* 修改主要的背景色，如果开启卷轴模式则将其设置为编辑区域旁边的背景色 */
    --b3-theme-background: hsl(0, 33%, 97%);
}

/* ----------此处为初版样式，由于即使是浅粉色，也依旧对不同颜色的文字阅读造成了不好的影响，故换成纯白底色---------- */
/* .protyle-content:not(#searchPreview.fn__flex-1.protyle>.protyle-content,.block__popover,.block__edit.fn__flex-1.protyle>.protyle-content){
    width: 297mm !important;
    background-color: #faf5f5;
    box-shadow: #5007134a 0px 0px 0.7em 0.3em, #b43e672b 0px 0px 3em 1em, #f5e4e7a3 0px 0px 2.5em;
    border: 10px solid #f4c4d0;
    border-bottom-width: 0px;
    border-top-width: 0px;
    margin: 0 0 0 0;
    padding: 0 0 30rem 0;
    min-height: 10rem;
} */

/* ----------此为当前正在使用的卷轴页面样式，去除了边框以防止其干扰对文字内容的阅读，底色相比之前更接近白色了，能更好地让多种字色的文字比较容易阅读---------- */
.protyle-content:not(#searchPreview.fn__flex-1.protyle>.protyle-content,.block__popover,.block__edit.fn__flex-1.protyle>.protyle-content,.backlinkList .protyle-content,.backlinkMList .protyle-content){
    width: 297mm !important;
    background-color: hsl(0, 33%, 99%);
    box-shadow: #33101624 0px 0px 0.7em 0.3em, #da5b872b 0px 0px 3em 1em, #f5e4e7a3 0px 0px 2.5em;
    border-bottom-width: 0px;
    border-top-width: 0px;
    margin: 0 0 0 0;
    padding: 0 0 30rem 0;
    min-height: 10rem;
    border-left: 10px solid #f4c4d0;
    border-right: 10px solid #f4c4d0;
}

.backlinkList.protyle-content,.backlinkMList .protyle-content{
    background-color: hsl(0, 33%, 99%);
    box-shadow: 0px 0px 5px pink;

}




/* ----------此为修复瑕疵而做的试验，请勿使用---------- */
/* 开启绝对定位后，在向下滑动页面的时候，面包屑依旧留在“上面”然后被挡zz */
/* .protyle-content:not(#searchPreview.fn__flex-1.protyle>.protyle-content,.block__popover,.block__edit.fn__flex-1.protyle>.protyle-content){
    margin: 0 40rem 40rem 30rem;
    left: 50%;
    align-self: center;
    position: absolute;
} */




/* 中央卷轴之外的区域，视觉上看起来就像是卷轴底下的平面。设为灰粉色以和中央文字区域区分，目的是让使用者更容易把注意力集中在中央的文字区域 */
.protyle{
    background-color: #f3e3e3;
}



/* 为文档文字编辑区域设置较窄的内边距 */
.protyle-wysiwyg,.protyle-wysiwyg--attr{
    padding: 34px 16px 16px 24px !important;
}

/* 修改题头图标的位置   此代码可能是为了适应主题的内容区域宽度固定而做的针对性修改 */
.protyle-background__iconw{
    left: 16px !important;
}
/* -----让页面编辑区域变成固定宽度且固定在页面中部  特色性功能----- */



/* 为始质…或者说编辑区域，添加背景图片 */
/* .protyle{
    background-image:url(pic/bg3.jpg) ;    
} */



/* 此选择器元素内包括protyle-content protyle-breadcrumb等元素  此处主要功能是将这些元素居中放置 */
.fn__flex-1.protyle{
    align-items: center;
}


/* 使得protyle-content的box-shadow不遮挡面包屑 */
.protyle-breadcrumb{
    z-index: 1;
    /* position: fixed; */
}   

/* 使得面包屑的宽度为父元素的100% */
.protyle-breadcrumb{
    width: 100%;
}


.protyle-background{
    min-height: 20rem !important;
    padding-bottom: 0px;
}

.protyle-background__img img{
    height: 20rem !important;
}

/* 改变标题区域的样式 1版 */
/* .protyle-title__input{
    background: #ffefef;
    border-bottom: 3px solid #dba9b9;
    box-shadow: 0px 0px 1px #904971, 0px 2px 2px 1px #c57685ba, 0px 2px 15px 1px #e7a0a0ab;
    border-radius: 0.2em;
    color: #580000b5;
} */

/* 改变标题区域的样式 2版 */
.protyle-title__input {
    background: transparent;
    border-bottom: 3px solid rgb(219, 169, 185);
    color: rgba(88, 0, 0, 0.71);
    line-height: 1.1em;
}

/* 修改标题的位置   此代码可能是为了适应主题的内容区域宽度固定而做的针对性修改 */
.protyle-title{
    margin: 34px 16px 0 24px !important;
    padding: 6px !important;
}

/* 改变文档属性图标的位置 */
.protyle-title__icon{
    left: -16px;
}

/* 文档编辑框内部阴影 */
.fn__flex-1.protyle {
    box-shadow: inset 0 0 10px 1px #b6a09cc4;
}