/* 为反链面板设置阴影 */
/* .backlinkList.fn__flex-1{ */
    /* box-shadow: 0px 5px 13px -2px inset #ab8484cc; */

    /* 给其背景设置为米色 */
    /* background-color:#fffcf8; */
/* } */


/* 提及区域底色和内部阴影 */
/* .backlinkMList.fn__flex-1{
    background-color:#fffcf8;
    box-shadow: 0px 5px 13px -2px inset #ab8484cc;
} */




/* 反链列表项底色，提高z-index防止下方代码添加的阴影遮挡 */
.sy__backlink  .b3-list-item:not(.hint--menu .b3-list-item){
    background-color: #fff5f5;
    z-index: 1;
}

/* 为反链列表中的内容区域添加底部阴影 */
.sy__backlink .protyle{
    min-height: auto;
    margin-bottom: 15px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    margin: 0px 10px 10px 18px;
    outline: 1px solid grey;
    box-shadow: 0px 3px 3px -2px #c3b4b4;
}

/* 反链列表项 */
.sy__backlink .b3-list-item:not(.protyle-hint .b3-list-item):not(.hint--menu .b3-list-item){
    padding-left: 17px;
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    margin: 0px 10px 0px 18px !important;
    outline: 1px solid grey;
}

.sy__backlink .protyle+.b3-list-item:not(.protyle-hint .b3-list-item){
    border-top-left-radius: 7px !important;
    border-top-right-radius: 7px !important;
}

.sy__backlink .b3-list-item:nth-last-child(1):not(.protyle-hint .b3-list-item){
    border-bottom-left-radius: 7px!important;
    border-bottom-right-radius: 7px!important;
}
/* 反链列表项 --- 结束 */



/* 修改反链面板中每个文档标题栏左边箭头图标的颜色，使其更显眼 */
.sy__backlink .b3-list-item__arrow{
    color: #310000bf !important;
}

/* 修改反链面板所见即所得区域左右内边距，减少空间浪费 */
.sy__backlink .protyle-wysiwyg{
    padding:0px 30px  2px 30px!important;
}


/* 反链面板，真反链和提及的顶部栏 */
.sy__backlink .block__icons--active,.sy__backlink .block__icons{
    background-color: #ffcdd0;
    border-top: 1px solid var(--b3-border-color);
    border-bottom: 1px solid var(--b3-border-color);
    border-left: 0.5px solid var(--b3-border-color);
    z-index: 2;
}


/* 解决边线靠近的时候会形成视觉上很粗的线的情况 */
div.layout-tab-container.fn__flex-1 > div > div:nth-child(1){
    margin-top: -1px;
}






/* 给反链面板中的面包屑和正文间添加横线以作分割 */
.sy__backlink .protyle::before {
    content: "";
    height: 0.05em;
    width: 100%;
    background-color: #986e6e80;
    position: absolute;
    top: 29px;
}


/* 修改反链面板中面包屑文字大小，原因，该区域文字太大的话会抢走底下正文的注意力 */
.sy__backlink .protyle-breadcrumb__bar{
    font-size: 12px;
}

.sy__backlink .protyle-breadcrumb__item{
    height: 14px;
}




/* 暂给反链面板底下设置底色和内阴影 */
.fn__flex-1.fn__flex-column.file-tree.sy__backlink{
    box-shadow: 0px 5px 13px -2px inset #ab8484cc;
    background-color: #fffcf8;
}

.backlinkMList.fn__flex-1 ::-webkit-scrollbar-thumb{
    overflow-y: overlay;
}


/* ——反链面板中的提示栏的样式—— */
.sy__backlink .protyle-hint.b3-list.b3-list--background{
    border: var( --pinkroom-pink-menu-border);
    border-radius: 2px;
}




/* 反链面板中按[[唤出的hint菜单的项目，底色设置为白色方便看字 */
.backlinkList .protyle-hint.b3-list.b3-list--background:not(.hint--menu) .b3-list-item{
    width: 100% !important;
    border: 1px solid rgba(130, 23, 23, 0.556);
    border-left: none;
    border-radius: 0px !important;
    background-color: #ffffff;
    border-top: none;
}


.backlinkList .protyle-hint:not(.hint--menu){
    padding-top: 0px !important;
    margin-top: 0px !important;
}

