/* ---第十三种字色样式用作复习内容用，平时文字不显示而是显示一条横线，以模仿现实中的填空题。鼠标移动上去即可显示文字\答案--- */


:root{
     /* 修改第十三种字色为透明色，以用来复习内容 */
     --b3-font-color13: transparent;
}

/* 第十三种字色选中的文字加上下划线 */
[style*="color: var(--b3-font-color13)"]{
    border-bottom: 1px solid var(--b3-theme-on-background);
}
/* 鼠标悬浮在其上时，显示文字 */
[style*="color: var(--b3-font-color13)"]:hover{
    color:var(--b3-theme-on-background) !important;
}

/* 将设置了第十三底色的文字，使鼠标悬浮在其上时会显示出文字，鼠标移开则是黑条的状态，以模仿保密文件的样式 */
[style*="background-color: var(--b3-font-background13)"]:hover{
    background-color: transparent !important;
    color: var(--b3-theme-on-background) !important;
}

/* 使第十三种底色文字字色无论是否加粗都继承默认字色 */
span[data-type~=strong][style*="background-color: var(--b3-font-background13)"],span[data-type~=em][style*="background-color: var(--b3-font-background13)"]{
    color: inherit !important;
}