/* 让引述块背景色不那么刺眼 */
.bq{
    background-color: hsl(0deg 0% 98%) !important;
    border-radius: 5px;
    border-color: #8eebff !important;
    border-width: 4px 0 0 0 !important;
    border-style: solid !important;
    box-shadow: 0px 1px 1px 2px #cabfbf;
    color: #5c6b86f0 !important;
    font-family: "仓耳今楷03";
}

.bq .li>.protyle-action{
    color: #5c6b86f0 !important;
}