:root[data-theme-mode="light"] span[style*="color"][style*="var(--b3-font-color1)"].b3-chip {
    color: rgb(167 73 62) !important;
    background-color: #f9c5c5 !important;
}
:root[data-theme-mode="light"]  .av__panel button[style*="color"][style*="var(--b3-font-color1)"].color__square {
    color: rgb(167 73 62) !important;
    background-color: #f9c5c5 !important;
}
:root[data-theme-mode="light"] .av__panel [style*="color"][style*="var(--b3-font-color1)"]{
    color: rgb(167 73 62) !important;
    background-color: #f9c5c5 !important;
}



:root[data-theme-mode="light"] span[style*="color"][style*="var(--b3-font-color2)"].b3-chip {
    color: rgb(151 107 28) !important;
    background-color: #f0d77e !important;
}
:root[data-theme-mode="light"]  .av__panel button[style*="color"][style*="var(--b3-font-color2)"].color__square {
    color: rgb(151 107 28) !important;
    background-color: #f0d77e !important;
}
:root[data-theme-mode="light"] .av__panel [style*="color"][style*="var(--b3-font-color2)"]{
    color: rgb(151 107 28) !important;
    background-color: #f0d77e !important;
}





:root[data-theme-mode="light"] span[style*="color"][style*="var(--b3-font-color3)"].b3-chip {
    color: rgb(95 119 163) !important;
    background-color: rgb(187 226 255) !important;
}
:root[data-theme-mode="light"]  .av__panel button[style*="color"][style*="var(--b3-font-color3)"].color__square {
    color: rgb(95 119 163) !important;
    background-color: rgb(187 226 255) !important;
}
:root[data-theme-mode="light"] .av__panel [style*="color"][style*="var(--b3-font-color3)"]{
    color: rgb(95 119 163) !important;
    background-color: rgb(187 226 255) !important;
}




:root[data-theme-mode="light"] span[style*="color"][style*="var(--b3-font-color4)"].b3-chip {
    color: rgb(54 138 32) !important;
    background-color: rgb(209 239 173) !important;
}
:root[data-theme-mode="light"]  .av__panel button[style*="color"][style*="var(--b3-font-color4)"].color__square {
    color: rgb(54 138 32) !important;
    background-color: rgb(209 239 173) !important;
}
:root[data-theme-mode="light"] .av__panel [style*="color"][style*="var(--b3-font-color4)"]{
    color: rgb(54 138 32) !important;
    background-color: rgb(209 239 173) !important;
}




:root[data-theme-mode="light"] span[style*="color"][style*="var(--b3-font-color5)"].b3-chip {
    color: rgb(93 93 93) !important;
    background-color: #d4d4d4 !important;
}
:root[data-theme-mode="light"]  .av__panel button[style*="color"][style*="var(--b3-font-color5)"].color__square {
    color: rgb(93 93 93) !important;
    background-color: #d4d4d4 !important;
}
:root[data-theme-mode="light"] .av__panel [style*="color"][style*="var(--b3-font-color5)"]{
    color: rgb(93 93 93) !important;
    background-color: #d4d4d4 !important;
}


:root[data-theme-mode="light"] span[style*="color"][style*="var(--b3-font-color6)"].b3-chip {
    color: rgb(82 119 160) !important;
    background-color: #d2dbff !important;
}
:root[data-theme-mode="light"]  .av__panel button[style*="color"][style*="var(--b3-font-color6)"].color__square {
    color: rgb(82 119 160) !important;
    background-color: #d2dbff !important;
}
:root[data-theme-mode="light"] .av__panel [style*="color"][style*="var(--b3-font-color6)"]{
    color: rgb(82 119 160) !important;
    background-color: #d2dbff !important;
}


:root[data-theme-mode="light"] span[style*="color"][style*="var(--b3-font-color7)"].b3-chip {
    color: rgb(169 91 0) !important;
    background-color: #fcd7b1 !important;
}
:root[data-theme-mode="light"]  .av__panel button[style*="color"][style*="var(--b3-font-color7)"].color__square {
    color: rgb(169 91 0) !important;
    background-color: #fcd7b1 !important;
}
:root[data-theme-mode="light"] .av__panel [style*="color"][style*="var(--b3-font-color7)"]{
    color: rgb(169 91 0) !important;
    background-color: #fcd7b1 !important;
}


:root[data-theme-mode="light"] span[style*="color"][style*="var(--b3-font-color8)"].b3-chip {
    color: rgb(188 82 151) !important;
    background-color: #ffd6e6 !important;
}
:root[data-theme-mode="light"]  .av__panel button[style*="color"][style*="var(--b3-font-color8)"].color__square {
    color: rgb(188 82 151) !important;
    background-color: #ffd6e6 !important;
}
:root[data-theme-mode="light"] .av__panel [style*="color"][style*="var(--b3-font-color8)"]{
    color: rgb(188 82 151) !important;
    background-color: #ffd6e6 !important;
}


:root[data-theme-mode="light"] span[style*="color"][style*="var(--b3-font-color9)"].b3-chip {
    color: rgb(151 72 156) !important;
    background-color: #f4dafa !important;
}
:root[data-theme-mode="light"]  .av__panel button[style*="color"][style*="var(--b3-font-color9)"].color__square {
    color: rgb(151 72 156) !important;
    background-color: #f4dafa !important;
}
:root[data-theme-mode="light"] .av__panel [style*="color"][style*="var(--b3-font-color9)"]{
    color: rgb(151 72 156) !important;
    background-color: #f4dafa !important;
}


:root[data-theme-mode="light"] span[style*="color"][style*="var(--b3-font-color10)"].b3-chip {
    color: rgb(85 131 161) !important;
    background-color: #caf0f0 !important;
}
:root[data-theme-mode="light"] .av__panel button[style*="color"][style*="var(--b3-font-color10)"].color__square {
    color: rgb(85 131 161) !important;
    background-color: #caf0f0 !important;
}
:root[data-theme-mode="light"] .av__panel [style*="color"][style*="var(--b3-font-color10)"]{
    color: rgb(85 131 161) !important;
    background-color: #caf0f0 !important;
}



:root[data-theme-mode="light"] span[style*="color"][style*="var(--b3-font-color11)"].b3-chip {
    color: rgb(41 137 91) !important;
    background-color: #c3f7e1 !important;
}
:root[data-theme-mode="light"]  .av__panel button[style*="color"][style*="var(--b3-font-color11)"].color__square {
    color: rgb(41 137 91) !important;
    background-color: #c3f7e1 !important;
}
:root[data-theme-mode="light"] .av__panel [style*="color"][style*="var(--b3-font-color11)"]{
    color: rgb(41 137 91) !important;
    background-color: #c3f7e1 !important;
}



:root[data-theme-mode="light"] span[style*="color"][style*="var(--b3-font-color12)"].b3-chip {
    color: rgb(151 126 0) !important;
    background-color: #e3e840 !important;
}
:root[data-theme-mode="light"]  .av__panel button[style*="color"][style*="var(--b3-font-color12)"].color__square {
    color: rgb(151 126 0) !important;
    background-color: #e3e840 !important;
}
:root[data-theme-mode="light"] .av__panel [style*="color"][style*="var(--b3-font-color12)"]{
    color: rgb(151 126 0) !important;
    background-color: #e3e840 !important;
}



:root[data-theme-mode="light"] span[style*="color"][style*="var(--b3-font-color13)"].b3-chip {
    color: rgb(249 249 249) !important;
    background-color: #7e7e7e !important;
}
:root[data-theme-mode="light"] .av__panel button[style*="color"][style*="var(--b3-font-color13)"].color__square {
    color: rgb(249 249 249) !important;
    background-color: #7e7e7e !important;
}
:root[data-theme-mode="light"] .av__panel [style*="color"][style*="var(--b3-font-color13)"]{
    color: rgb(249 249 249) !important;
    background-color: #7e7e7e !important;
}


