:root{
        /* 线条 */
    --b3-border-color:#639d2e55;
    --b3-theme-on-surface:#376f4f;
        /* 列表 */
    --b3-list-hover:#d1ebb0e8;

    --b3-theme-on-background:#174236;
        /* 为各类菜单和面板设置一个统一的边框颜色 */
    --b3-pinkroom-border:#c9df74;

    /* 此色影响顶部栏图标颜色和不少界面区域中的文字颜色，修改为暗红色以和粉色的界面整体色调匹配 */
    --b3-theme-on-surface: #376f3c;

    --b3-theme-on-surface-light: rgba(129, 164, 133, 0.87);
    
    /* 多级标题默认字色，修改以和米色背景搭配，黑色太难看了 */
    --b3-theme-on-background: #3e743d;

    /* 超链接用字色 */
    /* --b3-protyle-inline-link-color:#1461e0; */

    --b3-theme-background-light: hwb(88 25% 23%);


    --b3-theme-surface:#f2fbe2;

    /* 修改主要的背景色，如果开启卷轴模式则将其设置为编辑区域旁边的背景色 */
    --b3-theme-background: hsl(92deg 33% 97%);

    /* 修改对话窗口阴影 */
    --b3-dialog-shadow: 0px 11px 11px 2px
    hwb(117deg 12% 70% / 32%), 0px 24px 38px 4px hwb(79deg 28% 62% / 14%), 0px 9px 46px 8px rgb(118 127 123 / 12%);

    /* 修改成功、信息、警告、错误背景色，是为了适应绿色界面过于明亮而做的改动 */
    --b3-card-success-background: rgb(217 234 201);
    --b3-card-info-background: rgb(214 236 252);
    --b3-card-warning-background: rgb(251 224 193);
    --b3-card-error-background: rgb(245 219 216);
}












/* 左侧文档树区域 */
.fn__flex-1.fn__flex-column.file-tree{
    background-color: #eff3df;
}


/* 整个标签栏的样式 */
.layout-tab-bar {
    background-color: #e9ffe3;
}

/* 为标签页中的页签设置边框 */
.fn__flex.layout-tab-bar.fn__flex-1.layout-tab-bar .item {
    border-bottom: 0.5px solid #219f5abf;
    border-left: 0.5px solid var(--b3-border-color);
    border-right: 1px solid var(--b3-border-color);
}


/* 面包屑导航栏 */
.protyle-breadcrumb {
    background-color: #fcfffc;
    border-bottom: 1.5px solid #81ad40;
}

/* 在标签页区域和面包屑交界的地方添加边界线 */
#layouts > div.fn__flex.fn__flex-1 > div.layout__center.fn__flex.fn__flex-1 > div > div > div.fn__flex{
    border-bottom: 1px solid #7ec485;
}


/* 给页签设置字色 */
.layout-tab-bar .item__text{
    color: #7d9654;
}

/* 修改页签在鼠标悬浮于其上时的底色 */
.layout-tab-bar .item:hover:not(.item--focus):not(.item--readonly) {
    background-color: #eeff908f;
    border-radius: 0px 0px 0px 0px;
}

/* 面包屑其上的页签的底色 */
.layout-tab-bar .item{
    background-color:#f2ffe3;
}

/* 修改当前正在处于编辑\使用状态的页签的底色 */
.layout__wnd--active .layout-tab-bar .item--focus{
    /* background-color: #ffd0d0; */
    background-color:rgb(214 255 185);
}

/* 修改当前正在处于编辑\使用状态的页签的字色 */
.layout__wnd--active .layout-tab-bar .item--focus>.item__text{
    color: #387600d9;
}



/* 左侧停靠栏边界线 */
.dock#dockLeft {
    border-right: 1px solid #2f9d2e55;
}

/* 左侧停靠栏底色 */
.dock {
    background-color: #d4eaba;
}

.toolbar {
    background-color: #a3c165 !important;
    border-bottom: 1px solid var(--b3-border-color) !important;
}








/* -----------代码块相关样式------------- */
/* 设置代码块背景色为浅色 */
.b3-typography div.hljs, .protyle-wysiwyg div.hljs {
    background-color: #ffffff;
}

/* 为代码块设置阴影和圆角 */
.b3-typography .code-block, .protyle-wysiwyg .code-block{
    box-shadow: 0px 0px 6px 1px #97b9c672;
}

/* 代码块左边部分样式，设置统一圆角以让代码块整体阴影能正常显示 */
.protyle-linenumber__rows{
    border-right: 1px solid #c0e3bf;
}







/* 行内代码块 */
.fn__code, .b3-typography code:not(.hljs), .b3-typography span[data-type~=code], .protyle-wysiwyg code:not(.hljs), .protyle-wysiwyg span[data-type~=code] {
    color: rgb(0 81 94 / 78%);
    background-color: #f7fec4;
}

/* kbd 按键/按钮的样式 */
.b3-typography kbd, .b3-typography span[data-type~=kbd], .protyle-wysiwyg kbd, .protyle-wysiwyg span[data-type~=kbd]{
    font-size: 0.9em;
    color: rgb(77 77 77);
    background-color: hsl(185deg 64% 85%);
    box-shadow: 1px 1px 1px 0px #825d78a6,0px 0px 1px inset grey;
}

/* 第三种按键样式 */
.b3-typography kbd, .b3-typography span[data-type~=kbd], .protyle-wysiwyg kbd, .protyle-wysiwyg span[data-type~=kbd]{
    color: rgba(71, 78, 74, 0.891);
    background-color: rgb(255 255 255);
    box-shadow: rgb(131 131 131 / 90%) 0px 1px 2px -1px, #d9d9d9 0px -1px 0px 1px inset;
}



/* 底部状态栏 */
.status{
    background-color: #d4eaba;
    border-top: solid 0.5px rgb(92 108 86 / 60%);
}










/* 文档树引用数字的颜色,修改为淡色，避免过于显眼导致注意力容易从笔记本标题文字上分散到此*/
.counter {
    color: #55555a5d;
}


/* 无子文档的文档前面添加圆点符号 */
.b3-list-item.b3-list-item--hide-action .b3-list-item__toggle.fn__hidden::before {
    color: #8080804d;
}

/* 设置文档树前面的＞符号颜色为灰色以不抢夺笔记本标题文字的视觉吸引力 */
.fn__flex-1.fn__flex-column.file-tree .b3-list-item__arrow {
    color: #8080804d;
}

/* 笔记本之间的间隔 */
.sy__file ul.b3-list.b3-list--background {
    outline: 1px solid rgb(67 124 66 / 67%);
    background-color: white;
}



/* ------------------------------------文档树文字设置为灰色------------------------------- */
.b3-list-item__text {
    color: var(--b3-theme-on-surface);
}

/* -----------------------------文档树focus------------------------------- */

/* 颜色 */
.b3-list--background .b3-list-item--focus .b3-list-item__text,
.b3-list--background .b3-list-item--focus .b3-list-item__graphic,
.b3-list--background .b3-list-item--focus .b3-list-item__icon svg {
    color: var(--b3-theme-on-background);
}


/* 背景色 */
.b3-list--background .b3-list-item--focus {
    background-color: var(--b3-list-hover) !important;
}





/* -----------------------------文档树hover-------------------------------- */

/* 颜色 */
.b3-list--background .b3-list-item:hover .b3-list-item__text,
.b3-list--background .b3-list-item:hover .b3-list-item__graphic,
.b3-list--background .b3-list-item:hover .b3-list-item__icon svg {
    color: #4ea32d;
}

/* 暂时不理解这部分代码的功能 */
.fn__flex-1.fn__flex-column.file-tree.sy__backlink{
    background-color: #fff;
}

/* 在设置了文档辅助线后，列表大纲的底色和文档辅助线所用的白色box-shadow冲突了，出现白色长条块影响美观，故将列表大纲直接设置成白色底色以融合在一起 */
.sy__outline > div.fn__flex-1{
    background-color: #fff;
}


/* 将鼠标放置在文档树中笔记本右侧的引用数字上能打开一个窗口，为这个区域设置边框 */
.block__popover.block__popover--move.block__popover--open{
    border: 5px solid var(--b3-pinkroom-border);
}


/* 将鼠标放置在文档树中笔记本右侧的引用数字上能打开一个窗口，让这个窗口里的面包屑和主区域的面包屑统一底色*/
.block__edit>.protyle-breadcrumb{
    background-color: #fcfffc;
}

/* 将鼠标放置在文档树中笔记本右侧的引用数字上能打开一个窗口，为这个区域中的内容区域设置底色 */
.block__edit.fn__flex-1.protyle>.protyle-content{
    background-color: hwb(98 95% 0%);
}









/* 为超级块设置边框、底色、顶部颜色识别区、底部间距*/
/* .protyle-wysiwyg [data-node-id].sb {
    background-color: #fffcf6;
    border-top-color: #70e3f3cf;
    outline-color: #2e7a18d4;
} */

/* 使得超级块中的超级块不会有边框、边距等样式 */
/* .protyle-wysiwyg [data-node-id].sb[data-sb-layout="col"] .sb, .protyle-wysiwyg [data-node-id].sb[data-sb-layout="row"] .sb {
    background-color: #fffef900;
} */


/* ————————————字体菜单样式———————————— */

/* ———————为字体菜单中13种背景色选项图标设置数字编号，以方便选择———————— */
/* 为所有背景色图标设置一些统一属性 */
.b3-color__square[data-type="color"]:before{
    position: relative;
    font-size: 80%;
    z-index: 2;
    top: 13px;
    margin-left: 0px;
    font-weight: bold;
    color:#456b4aad
}



/* 为所有背景色图标设置一些统一属性 */
.b3-color__square[data-type="backgroundColor"]:before{
    color:#456b5ead
}

/* 为字色面板\菜单设置边框 */
.protyle-util{
    border: solid 4px var(--b3-pinkroom-border);
}

/* 在字体颜色\底色菜单栏中设置分界线的通用属性 */
.protyle-font>div:nth-child(2):before,.protyle-font> div:nth-child(4):before,.protyle-font> div:nth-child(6):before,.protyle-font>div:nth-child(8):before{
    background-color: #e0cecf;
}


/* 中央卷轴之外的区域，视觉上看起来就像是卷轴底下的平面。设为灰粉色以和中央文字区域区分，目的是让使用者更容易把注意力集中在中央的文字区域 */
.protyle{
    background-color:hsl(100deg 100% 98% / 90%);
}

/* 卷轴页面底色 */
.protyle-content:not(#searchPreview.fn__flex-1.protyle>.protyle-content,.block__popover,.block__edit.fn__flex-1.protyle>.protyle-content,.backlinkList .protyle-content,.backlinkMList .protyle-content){
    background-color: hsl(76deg 36% 97%);
    box-shadow: #18331024 0px 0px 0.7em 0.3em, #a4da5b2b 0px 0px 3em 1em, #e4f5e5a3 0px 0px 2.5em;
}




/* 修改中间区域阴影层，给底下的图片叠一层色降低对比度*/
.fn__flex-1.protyle{
    box-shadow: inset 0 0 10px 1px #203f1a99;
    background-color: #d2d2d230;
}



/* 改变标题区域的样式 2版 */
.protyle-title__input {
    background: transparent;
    border-bottom: 3px solid rgb(196, 219, 169);
    color: #3d7932;
    line-height: 1.1em;
}

.dock__item--active{
    color: #1a9b00 !important;
    background-color: #a1cf68b5 !important;
}


/* #layouts > div.fn__flex.fn__flex-1 > div:nth-child(4){
    background-color:#c2da91;
} */


/* 滚动条滑块部分 */
::-webkit-scrollbar-thumb{
    background-color:#90be5bda;
}


/* 修改默认的投影样式 */
[style*="text-shadow"]{
    color:#4e8362 !important;
    text-shadow: 0px 1px 0px #c4d3b9c2, 0px 2px #bad3b299, 0px 3px 5px #bec7b0, 0px 4px 5px #e1eed0cc !important;
}


/* 修改提示气泡样式 */
.tooltip{
    font-size: 1rem !important;
    background-color: #59834e;
}

/* 修改菜单容器样式 */
.b3-tab-container{
    box-shadow: 0px 0px 11px #4b5f429c inset;
}




/* 嵌入块样式 */
.protyle-wysiwyg [data-node-id].render-node[data-type=NodeBlockQueryEmbed]{
    background-color: #e2ebd763;
    box-shadow: 0px 0px 3px 2px inset #c5d2c9;
}



/* 界面左上角王冠颜色 */
.ft__error{
    color: rgb(17 139 84) !important
}


/* 反链列表项底色 */
.backlinkList .b3-list-item{
    border-top-color: #6b9900bf;
    background-color: rgb(228 241 213);
}

/* 修改标签样式颜色 */
.protyle-wysiwyg [data-node-id] span[data-type~=tag]{
    box-shadow: #539d7e 3.6em 0px 0px -2.2em inset, 0px 0px 0px 1px inset;
}

/* 修改中间区域阴影层，给底下的图片叠一层色降低对比度*/
.fn__flex-1.protyle{
    box-shadow: inset 0 0 10px 1px #203f1a99;
    background-color: #d2d2d230;
}

/* 修改菜单卡片悬浮后底色 */
.b3-card:hover{
    background-color: #ecffa08a;
}   

/* 反链面板，真反链和提及的顶部栏 */
.sy__backlink .block__icons--active,.sy__backlink .block__icons{
    background-color: #d4eaba;
}
/* 反链列表项顶部标签 */
.sy__backlink .b3-list-item{
    /* border-top:1px solid #96af7fbf; */
    /* box-shadow: 0px 2px 6px -2px #afafaf, 0px 3px 15px -3px #f2f2f2; */
    background-color: #fdfff5;
}


/* 鼠标划过列表项时的底色 */
.b3-list--background .b3-list-item:hover:not(.b3-list-item--focus){
    background-color: #e6ffd6;
}

/* 给图片设置边框 */
[custom-tpbk="1"] img{
    outline-color: #52852acb;
}


/* 修改提示菜单样式 */
.hint--menu{
    border-color:  #d4eaba;
}

/* 修改页签在鼠标悬浮于其上时的底色 */
.layout-tab-bar .item:hover:not(.layout__wnd--active .item--focus):not(.item--readonly){
    background-color: hsl(101, 100%, 91%);
}

/* 修改页签在鼠标悬浮于其上时，其中文字的颜色 */
.layout-tab-bar .item:hover:not(.item--focus):not(.item--readonly) .item__text{
    color: hsl(101, 43%, 54%);
}

/* 页签 */
.layout-tab-bar .item{
    border-bottom: 0.5px solid hsla(120, 66%, 38%, 0.749);
}






/* 修改背景图 */
body{
    background-image: url("../pic/Sweeping\ Spires\ by\ Andreas\ Rocha.jpg");
}


/* ——给空界面设置背景图片—— */
.layout-tab-container{
    background-color: transparent !important;
}
.layout__empty{
    background-color: transparent !important;
}


.layout__empty::before{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: url("../pic/Sweeping\ Spires\ by\ Andreas\ Rocha.jpg");
    background-position: center top;
    background-size: cover;
    filter: contrast(0.5) brightness(1.5) grayscale(0.3);
    z-index: -1;
}
/* ——给空界面设置背景图片—— */


/* ——反链面板中的提示栏的样式—— */
.sy__backlink .protyle-hint.b3-list.b3-list--background{
    border: var( --pinkroom-green-menu-border);
}

/* 反链列表项底色，提高z-index防止下方代码添加的阴影遮挡 */
.sy__backlink .b3-list-item:not(.hint--menu .b3-list-item){
    background-color: #fdfff5;
}

.backlinkList .protyle-hint.b3-list.b3-list--background:not(.hint--menu) .b3-list-item{
    border-color:rgba(41, 130, 23, 0.556);
}

/* 按[[唤出的hint菜单 */
.protyle-hint{
    border: var( --pinkroom-green-menu-border);
}
.protyle-hint .b3-list-item{
    border-color:rgba(41, 130, 23, 0.556);
}