:root{
    /* 线条 */
--b3-border-color:rgba(148, 208, 216, 0.857);
--b3-theme-on-surface:hwb(185 22% 56%);
    /* 列表 */
--b3-list-hover:#a8eaeeb8;

    /* 为各类菜单和面板设置一个统一的边框颜色 */
--b3-pinkroom-border:#74cbdf;

/* 此色影响顶部栏图标颜色和不少界面区域中的文字颜色，修改为暗红色以和粉色的界面整体色调匹配 */
--b3-theme-on-surface: #37566f;

--b3-theme-on-surface-light: rgb(129 155 164 / 87%);

/* 多级标题默认字色，修改以和米色背景搭配，黑色太难看了 */
--b3-theme-on-background: #365c83;

/* 超链接用字色 */
/* --b3-protyle-inline-link-color:#1461e0; */

--b3-theme-background-light: hwb(185 25% 23%);


--b3-theme-surface:#f1fdff;

/* 修改主要的背景色，如果开启卷轴模式则将其设置为编辑区域旁边的背景色 */
--b3-theme-background: rgb(248 255 255);

/* 修改对话窗口阴影 */
--b3-dialog-shadow: 0px 11px 11px 2px
hwb(196deg 35% 31% / 41%), 0px 24px 38px 4px hwb(0deg 0% 100% / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%);

/* 略微调整其色相，使其和蓝色系主题整体配色更加搭调 */
    --b3-protyle-inline-blockref-color: #9215ac;
}









/* 修改背景图 */
body{
background-image: url("../pic/ice\ station\ zebra\ by\ Col\ Price.jpg");
}



/* 左侧文档树、大纲底色 */
.fn__flex-1.fn__flex-column.file-tree{
background-color: #e5f4f7;
}


/* 整个标签栏的样式 */
.layout-tab-bar {
background-color: #d7eff1;
}

/* 为标签页中的页签设置边框 */
.fn__flex.layout-tab-bar.fn__flex-1.layout-tab-bar .item {
border-bottom: 0.5px solid var(--b3-border-color);
border-left: 0.5px solid var(--b3-border-color);
border-right: 1px solid var(--b3-border-color);
}


/* 面包屑导航栏 */
.protyle-breadcrumb {
background-color: #fcfffc;
border-bottom: 1.5px solid #88b5c7;
}

/* 在标签页区域和面包屑交界的地方添加边界线 */
#layouts > div.fn__flex.fn__flex-1 > div.layout__center.fn__flex.fn__flex-1 > div > div > div.fn__flex{
border-bottom: 1px solid #7e94c4;
}


/* 给页签设置字色 */
.layout-tab-bar .item__text{
    color: #437385;
}
/* 面包屑其上的页签的底色 */
.layout-tab-bar .item{
    background-color:#d7eff1;
}

/* 修改页签在鼠标悬浮于其上时的底色 */
.layout-tab-bar .item:hover:not(.item--focus):not(.item--readonly) {
    background-color: #90fdff8f;
    border-radius: 0px 0px 0px 0px;
}



/* 修改当前正在处于编辑\使用状态的页签的底色 */
.layout__wnd--active .layout-tab-bar .item--focus{
    background-color:#b5f5f6;
}

/* 修改当前正在处于编辑\使用状态的页签的字色 */
.layout__wnd--active .layout-tab-bar .item--focus>.item__text{
color: #003b76d9;
}



/* 左侧停靠栏边界线 */
.dock#dockLeft {
border-right: 1px solid #2e719d55;
}

/* 左侧停靠栏底色 */
.dock {
background-color: #c4e4f0;
}

.toolbar {
background-color: #81c2d6 !important;
border-bottom: 1px solid var(--b3-border-color) !important;
}








/* -----------代码块相关样式------------- */
/* 设置代码块背景色为浅色 */
.b3-typography div.hljs, .protyle-wysiwyg div.hljs {
background-color: #ffffff;
}

/* 为代码块设置阴影和圆角 */
.b3-typography .code-block, .protyle-wysiwyg .code-block{
    box-shadow: 0px 0px 6px 1px #97bcc672;
}

/* 代码块左边部分样式，设置统一圆角以让代码块整体阴影能正常显示 */
.protyle-linenumber__rows{
border-right: 1px solid #bfdae3;
}







/* 行内代码块 */
.fn__code, .b3-typography code:not(.hljs), .b3-typography span[data-type~=code], .protyle-wysiwyg code:not(.hljs), .protyle-wysiwyg span[data-type~=code] {
    color: rgb(18 113 129 / 80%);
    background-color: #eafeff;
}

/* kbd 按键/按钮的样式 */
.b3-typography kbd, .b3-typography span[data-type~=kbd], .protyle-wysiwyg kbd, .protyle-wysiwyg span[data-type~=kbd]{
font-size: 0.9em;
color: rgb(77 77 77);
background-color: hsl(185deg 64% 85%);
box-shadow: 1px 1px 1px 0px #825d78a6,0px 0px 1px inset grey;
}

/* 第三种按键样式 */
.b3-typography kbd, .b3-typography span[data-type~=kbd], .protyle-wysiwyg kbd, .protyle-wysiwyg span[data-type~=kbd]{
color: rgba(71, 78, 74, 0.891);
background-color: rgb(255 255 255);
box-shadow: rgb(131 131 131 / 90%) 0px 1px 2px -1px, #d9d9d9 0px -1px 0px 1px inset;
}



/* 底部状态栏 */
.status{
background-color: #c4e4f0;
border-top: solid 0.5px rgb(92 108 86 / 60%);
}










/* 文档树引用数字的颜色,修改为淡色，避免过于显眼导致注意力容易从笔记本标题文字上分散到此*/
.counter {
color: #55555a5d;
}


/* 无子文档的文档前面添加圆点符号 */
.b3-list-item.b3-list-item--hide-action .b3-list-item__toggle.fn__hidden::before {
color: #8080804d;
}

/* 设置文档树前面的＞符号颜色为灰色以不抢夺笔记本标题文字的视觉吸引力 */
.fn__flex-1.fn__flex-column.file-tree .b3-list-item__arrow {
color: #8080804d;
}

/* 笔记本之间的间隔 */
.sy__file ul.b3-list.b3-list--background {
outline: 1px solid rgb(67 124 66 / 67%);
background-color: white;
}



/* ------------------------------------文档树文字设置为灰色------------------------------- */
.b3-list-item__text {
color: var(--b3-theme-on-surface);
}

/* -----------------------------文档树focus------------------------------- */

/* 颜色 */
.b3-list--background .b3-list-item--focus .b3-list-item__text,
.b3-list--background .b3-list-item--focus .b3-list-item__graphic,
.b3-list--background .b3-list-item--focus .b3-list-item__icon svg {
color: var(--b3-theme-on-background);
}


/* 背景色 */
.b3-list--background .b3-list-item--focus {
background-color: var(--b3-list-hover) !important;
}





/* -----------------------------文档树hover-------------------------------- */

/* 颜色 */
.b3-list--background .b3-list-item:hover .b3-list-item__text,
.b3-list--background .b3-list-item:hover .b3-list-item__graphic,
.b3-list--background .b3-list-item:hover .b3-list-item__icon svg {
color: #1462bb;
}

/* 暂时不理解这部分代码的功能 */
.fn__flex-1.fn__flex-column.file-tree.sy__backlink{
background-color: #fff;
}

/* 在设置了文档辅助线后，列表大纲的底色和文档辅助线所用的白色box-shadow冲突了，出现白色长条块影响美观，故将列表大纲直接设置成白色底色以融合在一起 */
.sy__outline > div.fn__flex-1{
background-color: #fff;
}


/* 将鼠标放置在文档树中笔记本右侧的引用数字上能打开一个窗口，为这个区域设置边框 */
.block__popover.block__popover--move.block__popover--open{
border: 5px solid var(--b3-pinkroom-border);
}


/* 将鼠标放置在文档树中笔记本右侧的引用数字上能打开一个窗口，让这个窗口里的面包屑和主区域的面包屑统一底色*/
.block__edit>.protyle-breadcrumb{
    background-color: #fcfffc;
}

/* 将鼠标放置在文档树中笔记本右侧的引用数字上能打开一个窗口，为这个区域中的内容区域设置底色 */
.block__edit.fn__flex-1.protyle>.protyle-content{
background-color: #f5fbff;
}









/* 为超级块设置边框、底色、顶部颜色识别区、底部间距*/
/* .protyle-wysiwyg [data-node-id].sb {
    background-color: #f9feff;
    border-top-color: #70e3f3cf;
    outline-color: #182b7ad4;
} */

/* 使得超级块中的超级块不会有边框、边距等样式 */
/* .protyle-wysiwyg [data-node-id].sb[data-sb-layout="col"] .sb, .protyle-wysiwyg [data-node-id].sb[data-sb-layout="row"] .sb {
background-color: #fffef900;
} */


/* ————————————字体菜单样式———————————— */

/* ———————为字体菜单中13种背景色选项图标设置数字编号，以方便选择———————— */
/* 为所有背景色图标设置一些统一属性 */
.b3-color__square[data-type="color"]:before{
position: relative;
font-size: 80%;
z-index: 2;
top: 13px;
margin-left: 0px;
font-weight: bold;
color:#456b4aad
}



/* 为所有背景色图标设置一些统一属性 */
.b3-color__square[data-type="backgroundColor"]:before{
color:#456b5ead
}

/* 为字色面板\菜单设置边框 */
.protyle-util{
border: solid 4px var(--b3-pinkroom-border);
}

/* 在字体颜色\底色菜单栏中设置分界线的通用属性 */
.protyle-font>div:nth-child(2):before,.protyle-font> div:nth-child(4):before,.protyle-font> div:nth-child(6):before,.protyle-font>div:nth-child(8):before{
background-color: #e0cecf;
}


/* 中央卷轴之外的区域，视觉上看起来就像是卷轴底下的平面。设为灰粉色以和中央文字区域区分，目的是让使用者更容易把注意力集中在中央的文字区域 */
.protyle{
background-color:hsl(205deg 100% 98% / 90%);
}

/* 卷轴页面底色 */
.protyle-content:not(#searchPreview.fn__flex-1.protyle>.protyle-content,.block__popover,.block__edit.fn__flex-1.protyle>.protyle-content,.backlinkList .protyle-content,.backlinkMList .protyle-content){
background-color: hwb(201deg 96% 0%);
box-shadow: #10293324 0px 0px 0.7em 0.3em, #5ba2da2b 0px 0px 3em 1em, #e4f0f5a3 0px 0px 2.5em;
}




/* 修改中间区域阴影层，给底下的图片叠一层色降低对比度*/
.fn__flex-1.protyle{
box-shadow: inset 0 0 10px 1px #1a2c3f99;
background-color: #d2d2d230;
}



/* 改变标题区域的样式 2版 */
.protyle-title__input {
border-bottom: 3px solid rgb(169 200 219);
color: #476492;
}

.dock__item--active{
    background-color: #8cd0ebb5;
    color: #005a9b;
}

.dock__item--activefocus{
    background-color: #9cd6ed !important;
    color: #00223b !important;
}



/* #layouts > div.fn__flex.fn__flex-1 > div:nth-child(4){
background-color:#c4e4f0;
} */


/* 滚动条滑块部分 */
::-webkit-scrollbar-thumb{
background-color:#68b0cada;
}


/* 修改默认的投影样式 */
[style*="text-shadow"]{
    color: #4e6983 !important;
    text-shadow: 0px 1px 0px #9db5c7c2, 0px 2px #b2c2d399, 0px 3px 5px #b0b5c7, 0px 4px 5px #d0e0eecc !important;
}


/* 修改提示气泡样式 */
.tooltip{
font-size: 1rem !important;
background-color: #4e7483;
}

/* 修改菜单容器样式 */
.b3-tab-container{
box-shadow: 0px 0px 11px #4b5f429c inset;
}




/* 嵌入块样式 */
.protyle-wysiwyg [data-node-id].render-node[data-type=NodeBlockQueryEmbed]{
background-color: #d7ebe563;
box-shadow: 0px 0px 3px 2px inset #c5d2c9;
}

/* 界面左上角王冠颜色 */
.ft__error{
    color: #001aff !important;
}

/* 反链列表项底色 */
.backlinkList .b3-list-item{
    border-top-color: #57acb575;
    background-color: rgb(222 241 245);
}


/* 修改标签样式颜色 */
.protyle-wysiwyg [data-node-id] span[data-type~=tag]{
    box-shadow: #576ca5 3.6em 0px 0px -2.2em inset, 0px 0px 0px 1px inset;
}


/* 修改中间区域阴影层，给底下的图片叠一层色降低对比度*/
.fn__flex-1.protyle{
    box-shadow: inset 0 0 10px 1px #1a243f99;
    background-color: #d2d2d230;
}

/* 修改菜单卡片悬浮后底色 */
.b3-card:hover{
    background-color: #b6fbffa1;
}   

/* 修改反链面板顶部栏底色 */
.sy__backlink .block__icons{
    background-color: #c4e4f0;
}

/* 反链面板中底色 */
.sy__backlink .protyle{
    background-color: hsl(192deg 100% 99%);
}

/* 反链列表项顶部标签 */
.sy__backlink .b3-list-item{
    /* border-top:1px solid #7f9bafbf; */
    /* box-shadow: 0px 2px 6px -2px #afafaf, 0px 3px 15px -3px #f2f2f2; */
    background-color: #f5ffff;
}


/* 鼠标划过列表项时的底色 */
.b3-list--background .b3-list-item:hover:not(.b3-list-item--focus){
    background-color: #d6fcff;
}