:root{
    --room-surface-lightcolor:#ffe0e0;
    --room-surface-lightcolor-blur:#f7d9d9;
    --room-grid-background:#f2f2f2;
    --room-high-saturated-color:#e06289;
    --room-surface-dimcolor:#f8dbdb;
}
