/* 给图片设置边框 */
[custom-tpbk="1"] img{
    /* border-color: #852a4b; */
    /* border-width: 1px; */
    /* border-style: solid; */
    outline: #852a4b;
    outline-style: solid;
    outline-width: 1px;
}