
/* 修改默认pdf标注色，颜色太深了不好看 */
:root {
    --b3-pdf-background1: hsl(4deg 72% 86%);
    --b3-pdf-background2: hsl(26deg 72% 83%);
    --b3-pdf-background3: hsl(46deg 68% 83%);
    --b3-pdf-background4: hsl(107deg 51% 83%);
    --b3-pdf-background5: hsl(167deg 46% 83%);
    --b3-pdf-background6: hsl(207deg 64% 83%);
    --b3-pdf-background7: rgb(192, 184, 239);
}